VITE_API_URL=https://asklyx-quiz.onrender.com

HOST_USERNAME=tu_usuario_host
HOST_PASSWORD=tu_password_host
HOST_USER_ID=1

ADMIN_NICKNAME=tu_admin

DB_HOST=tu_host_tidb
DB_PORT=4000
DB_USER=tu_usuario_tidb
DB_PASSWORD=tu_password_tidb
DB_NAME=quiz
DB_SSL=true